/* 按鈕炸裂特效 */
.btn1,
.btn1:focus,
.btn1:hover {
    display: inline-block;
    position: relative;
    min-width: 100px;
    max-width: 100px;
    border: none;
    border-radius: 4px;
    background-color: #ffc400;
    color: rgb(253, 252, 252);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0 2px 25px rgba(250, 204, 0, 0.986);
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    padding: 10px 20px;
}

.btn1:before,
.btn1:after {
    content: "";
    display: block;
    position: absolute;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}

.btn1:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, rgba(250, 204, 0, 0.986) 20%, transparent 20%), radial-gradient(circle, transparent 20%, rgba(250, 204, 0, 0.986) 20%, transparent 30%), radial-gradient(circle, rgba(250, 204, 0, 0.986) 20%, transparent 20%), radial-gradient(circle, rgba(250, 204, 0, 0.986) 20%, transparent 20%), radial-gradient(circle, transparent 10%, rgba(250, 204, 0, 0.986) 15%, transparent 20%), radial-gradient(circle, rgba(250, 204, 0, 0.986) 20%, transparent 20%), radial-gradient(circle, rgba(250, 204, 0, 0.986) 20%, transparent 20%), radial-gradient(circle, rgba(250, 204, 0, 0.986) 20%, transparent 20%), radial-gradient(circle, rgba(250, 204, 0, 0.986) 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.btn1:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, rgba(250, 204, 0, 0.986) 20%, transparent 20%), radial-gradient(circle, rgba(250, 204, 0, 0.986) 20%, transparent 20%), radial-gradient(circle, transparent 10%, rgba(250, 204, 0, 0.986) 15%, transparent 20%), radial-gradient(circle, rgba(250, 204, 0, 0.986) 20%, transparent 20%), radial-gradient(circle, rgba(250, 204, 0, 0.986) 20%, transparent 20%), radial-gradient(circle, rgba(250, 204, 0, 0.986) 20%, transparent 20%), radial-gradient(circle, rgba(250, 204, 0, 0.986) 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.btn1:active {
    transform: scale(0.9);
    background-color: #3b3c23;
    box-shadow: 0 2px 25px rgb(255, 238, 0);
}

.btn1:active:before {
    display: block;
    animation: anim-top ease-in-out 0.75s forwards;
}

.btn1:active:after {
    display: block;
    animation: anim-bottom ease-in-out 0.75s forwards;
}

@keyframes anim-top {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes anim-bottom {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}




.btn11,
.btn11:focus {
    position: relative;
    min-width: 200px;
    background-color: rgba(182, 228, 156, 0.034);
    /* border-radius: 4em; */
    color: rgb(8, 8, 8);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition-duration: 0.4s;
    padding: 10px 25px;
}

.btn11:hover {
    background-color: #3A3A3A;
    color: white;
    transition-duration: 0.1s;
}

.btn11:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
    /* border-radius: 4em; */
}

.btn11:active:after {
    opacity: 1;
    transition: 0s;
    box-shadow: 0 0 0 0 white;
}

.btn11:active {
    top: 1px;
}