/* 全局樣式 */
* {
    /* 加上這行才不會被其他組員干擾到 */
    border: none;
}

/* 容器樣式 */
.container {
    max-width: 100%;
    min-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ddd;
    background-size: cover;
}


.header {
    /* background-image: url('/background.jpg'); */
    background-color: #000000;
    padding: 20px;
    border-radius: 50px;
    color: #ddd;
}

/* 導航樣式 */
.navigation ul {
    list-style-type: none;
}

.navigation ul li {
    display: inline;
    margin-right: 20px;
}

/* 主要內容樣式 */
.main {
    justify-content: space-between;
}

.update-container {
    flex-basis: 45%;
    flex-shrink: none;
}

.member-info {
    flex-basis: 45%;
}

/* 底部樣式 */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* 會員卡背景樣式 */
.cardbackground {
    border: 2px solid black;
    padding: 3px 15px 3px 11px;
    background-image: linear-gradient(45deg, rgb(19, 18, 18), rgb(19, 18, 18));
    max-width: 355px;
    min-width: 355px;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    min-height: 210px;
}

/* 信息樣式 */
.info {
    margin: auto;
}

/* 會員卡圖片樣式 */
.photo-img {
    box-shadow: 0px 0px 10px 5px rgba(252, 252, 252, 0.978);
    min-width: 330px;
    min-height: 200px;
    max-width: 330px;
    max-height: 200px;
    position: absolute;
    overflow: hidden;
    display: flex;
}

/* 表單名稱標籤樣式 */
.form-name {
    margin: 0% 25% 0%;
    color: rgb(20, 19, 19);
}

/* 表單組樣式 */
.form-group1 {
    margin-bottom: 15px;
}


.form-group1 label {
    display: block;
    margin-bottom: 5px;
}

/* 輸入框樣式 */
.form-group1 input {
    width: 50%;

    padding: 10px 15px;

    border: 2px solid #ccc;

    border-radius: 5px;

    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.956), 0 1px 2px rgb(0, 0, 0);

    font-size: 16px;

    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin: auto 25%;
}

/* 好像不需要這段 */
.form-group1 input:focus {
    border-color: #a80505;

    box-shadow: inset 0 1px 3px rgba(247, 3, 3, 0.438), 0 0 8px rgba(173, 3, 3, 0.083);

    outline: none;

}


/* 禁用狀態樣式 */
/* 禁用狀態的樣式 */
.form-group1 input:disabled {
    background-color: #f5f5f567;

    cursor: not-allowed;

    border-color: #ddd;

    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.956), 0 1px 2px rgb(0, 0, 0);

}


.membername {
    margin: 0% 25% 0%;
}



.memberborder {
    width: 50%;

    padding: 3px 10px;

    border: 2px solid #ccc;

    border-radius: 5px;

    background-color: #fbfbfb7f;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.956), 0 1px 2px rgb(0, 0, 0);

    font-size: 16px;
    cursor: not-allowed;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin: auto 25%;
    margin-bottom: 5px;
}

/* 會員名稱內容樣式 */
.membername {
    font-size: 16px;
    color: #000000;
}