/* styles.css */
/* 登入頁面樣式 */
h2 {
    text-align: center;
    font-family: '標楷體';
}

p {
    text-align: left;
}

.photo {

    padding: 13px;
    background-image: url('/lobby.jpg');

    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
    /* 圖片上移 */
    background-position: top 40% center;
    /* position: fixed; */
}





.login-container {
    margin: 170px auto 170px 80px;

    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 390px;
    min-width: 390px;
    min-height: 450px;
    max-height: 480px;
    background-image: linear-gradient(-45deg, rgba(43, 53, 100, 0), white, rgba(59, 59, 57, 0.178));
}

.login-box {
    background: #f3f0f095;
    margin-top: 70px;
    padding: 40px;
    /* border-radius: 100px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    min-height: 300px;

    position: relative;
    max-height: 350px;
    max-width: 350px;
}

.avatar {
    width: 100px;
    height: 100px;
    background: rgb(128, 128, 128);
    border-radius: 50%;
    margin: -50px auto 20px;
    /* 將 avatar 移動到 form 框上方 */
    position: absolute;
    /* 使用絕對定位 */
    top: 0;
    /* 定位到 form 框的上邊緣 */
    left: 50%;
    /* 水平置中 */
    transform: translateX(-50%);
    /* 水平置中 */
    background-image: url('/hello.gif');
    background-size: 140px;
    background-position: center;

}

.input-container {
    margin-top: 20px;
    margin-bottom: 15px;
    position: relative;
}

.input-container .icon {
    position: absolute;
    top: 50%;
    left: 0;

    transform: translateY(-50%);
    font-size: 20px;
    color: #999;
}

.input-container input {
    width: 80%;

    padding: 10px 10px 10px 10px;
    border: 1px solid #ddd;
    border-radius: 0px 20px 20px 0px;
    outline: none;
}



.forgot-password {

    margin: -1% 0 20% 70%;
    position: absolute
}

.register {
    margin: -1% 20% 0% 5%;
    position: absolute;
    /* .container {
        max-width: 100%;
        min-width: 100%;
        margin: 0 auto;
        padding: 20px;
        background-color: #ddd;
        background-size: cover;
    }
     */
}


.membername {
    background-color: #99d117;
}



.icon-input-wrapper {
    /* display: flex; */
    /* align-items: center; */
    /* border: 1px solid #cccccc4d; */
    /* border-radius: 5px; */
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(77, 228, 13, 0.1);
    background-color: #999;
    max-width: 300px;
}


.icon-input-wrapper i {
    margin-right: 15px;
    font-size: 26px;
    margin-top: 3px;
}


.drag-handle {
    /* 設置拉環樣式 */
    width: 20px;
    height: 100%;
    background-color: #ccc;
    position: absolute;
    right: 0;
    cursor: ew-resize;
    /* 鼠標指針變為左右拉伸指針 */
}

.register-box {
    width: 0;
    height: 100%;
    background-color: #99d117;
    position: absolute;
    right: 0;
    top: 0;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
}